@import url("screen.css");

#header {background: #000;}
#branding {background: #fff;}

#content {background:#fff;}

#footer {background:#fff;}
#branding-footer {background: #fff;}
#content {background: #5b5450;}
#primary-index {background: #5b5450;}